.conteudo {
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

@media screen and (min-width: 900px) {
    .conteudo {
        align-items: center;
        justify-content: center;
    }
}