.principal__paragrafo {
    display: flex;
    font-weight: 400;
    text-align: center;
    padding: 1rem 1rem 2rem 1rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    color: hsl(220, 15%, 55%);
}

@media screen and (min-width: 900px) {
    .principal__paragrafo {
        font-size: 1rem;
    }
}